text {
  font: 10px sans-serif;
  fill: #000;
}

/* bar chart */
.bar rect {
	fill: steelblue;
}
.bar:hover rect {
  fill: indianred;
}
.bar text {
  opacity: 0;
}
.bar:hover text {
  opacity: 1;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path { display: none; }

/* three circle */
.circle {
  fill: steelblue;
}

/* line chart */
.path {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.color-cell {
  display: inline-block;
  padding: 5px 15px;
  margin: 0 5px;
}