text {
  font: 10px sans-serif;
  fill: #000;
}

.bar rect {
	fill: steelblue;
}
.bar:hover rect {
  fill: indianred;
}
.bar text {
  opacity: 0;
}
.bar:hover text {
  opacity: 1;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path { display: none; }